services:
  jellyfin:
    image: jellyfin/jellyfin
    user: ${JF_USER}
    network_mode: 'host'
    volumes:
      - ${JF_CONFIG_PATH}:/config
      - ${JF_CACHE_PATH}:/cache
      - media:/media:ro
      - ${JF_RECORDING_PATH}:/recordings
      - guide:/guide:ro
      - /srv/dockervols/jellyfin/post-process.sh:/post-process.sh
      - ${SONARR_MEDIA}:/sonarr/media
    restart: 'unless-stopped'
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    group_add:
      - "105"
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl
    extra_hosts:
      - "host.docker.internal:host-gateway"
  xmltv-sdingest:
    image: stuartfreeman/xmltv-sdingest:latest
    restart: 'unless-stopped'
    volumes:
      - guide:/root/.xmltv
  iptv-guide:
    image: ghcr.io/iptv-org/epg:master
    ports:
      - 5000:3000
    environment:
      - DELAY=1000
      - DAYS=14
    volumes:
      - ${EPG_PATH}/channels.xml:/epg/channels.xml

volumes:
  guide:
  media:
    driver_opts:
      type: nfs
      o: addr=192.168.1.95,nfsvers=4,ro
      device: :/srv/media
